@font-face {
  font-family: "Machina Regular";
  src: url("/machina-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Machina Light";
  src: url("/machina-light.ttf") format("truetype");
  font-weight: light;
  font-style: normal;
}
